# このファイルはGitが追跡すべきでないファイルを指定します

# Unityが自動生成するフォルダ
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio / VS Code
/[Ee]xported[Oo]bj/
.vs/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# その他
sysinfo.txt
*.apk
*.aab
*.unitypackage
.fake